<div class="container">
    <div class="sub-container">
        <div class="container-header">
            <div class="header-left">
                <img class="img-logo" src="../../assets/images/logo.png" alt="">
                <span>Command Prompt</span>
            </div>
            <div class="header-right">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="remove"  class="hover-gray"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="crop_square" class="hover-gray"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" class="hover-red"></mat-icon>
            </div>
        </div>
        <div class="container-content">
            <div class="menu">
                <span>Arma</span>
                <span>Armadura</span>
                <span>Cyberware</span>
            </div>

            <div class="sub-itens-container">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        This is the expansion title
                    </mat-expansion-panel-header>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           This is the expansion title2
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-expansion-panel>

                 <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        This is the expansion title
                    </mat-expansion-panel-header>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           This is the expansion title2
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-expansion-panel>

                 <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        This is the expansion title
                    </mat-expansion-panel-header>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           This is the expansion title2
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-expansion-panel>

                 <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        This is the expansion title
                    </mat-expansion-panel-header>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           This is the expansion title2
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-expansion-panel>

                 <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        This is the expansion title
                    </mat-expansion-panel-header>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                           This is the expansion title2
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-expansion-panel>
            </div>

        </div>
    </div>
</div>